.friends_title {
  background-color: green;
  padding-top: 50px;
  color:yellow;
  font-size: 1.5rem;
}

.friends_list {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  cursor: default;
}

.friends_block {
  display: flex;
  flex-direction: column;
  text-align: center;
  color:white;
  padding: 2px;
}

.friends_ava {
  height: 35px;
  width: 35px;
  margin-bottom: 2px;
}