.header {
  background-color: yellow;
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo_img {
  height: 110px;
}

.loginBlock {
  padding-right: 10px;
}

.loginBlock_text {
  text-decoration: none;
  color: maroon;
  font-size: 1.4rem;
}