.nav {
  background-color: green;
}

.nav {
  cursor: pointer;
  font-size: 1.2rem;


}

.active_link {
  color: orange;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color:aquamarine
} 