.nav {
  background-color: green;
  cursor: pointer;
  font-size: 1.2rem;
}

.active_link {
  color: orange;
  text-decoration: none;
}

.links {
  text-decoration: none;
  color:aquamarine
} 

.friends_text {
  background-color: green;
  padding-top: 50px;
  color:yellow;
  font-size: 1.5rem;
}

.friends_list {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: none;
  padding-top: 10px;
}