.dialog_list_text { 
    color:bisque;
    padding: 4px;
    text-decoration: none;
}

.dialog_list { 
    display: flex;
    /* border: thin solid black; */
}

.active_dialog {
    padding: 6px;
    color:snow;
    text-decoration: none;
}

.text_styles {
    align-self: center;
}

.profile_ava_img {
    height: 45px;
    border-radius: 60px;
}