/* ul li {
  list-style-type: lower-greek;
} */

.app-wrapper {
  margin: 0 15px;
  max-width: 1600px;
  display: grid;
  row-gap: 15px;
  column-gap: 10px;
  grid-template-columns: 150px auto auto;
  grid-template-areas:
    "header header header"
    "nav content content";
}

.app-wrapper-content {
  background-color: rgb(231, 168, 168);
  grid-area: content;
  padding: 0px;
  margin: 0px;
}