.dialogs {
    display: flex;
    flex-direction: row;
}

.dialogs_visualization {
    display: grid;
    text-align: justify;
}

.chats_visualization {
    display: grid;
    text-align: justify;
    margin-left: 10px;
}

.new_message {
    display: block;
}